.clear{
    clear: both;
}

body{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

td{
    vertical-align: top;
}

td.spacer{
    width:5mm;
}

td.w30{
    width:30mm;
}

td.w50{
    width:50mm;
}

td.right-align{
    text-align:right;
}

div.dl_body {
    position:absolute;
    left: 55mm;
    margin:0;
    rotate: -90;
    padding: 0;
    line-height:1.5em;
    background: none;
    width: 210mm;
    height: 99mm;
    border: thin solid #cccccc;
}

div.cp_label{
    position:relative;
    left:38mm;
    text-align: center;
}


table.box_details{
    margin-left: 50mm;
    margin-top:0;
    width: 100mm;
    text-align: right;
}
