@charset "utf-8";
.clear{
    clear: both;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

td{
    vertical-align: top;
}

#dd_body {
    margin: 0;
    padding: 0;
    line-height:1.5em;
    background: none;
    width: 210mm;
    height: 297mm;
}



#dd_body table,
#dd_body table th,
#dd_body table td{
   border-collapse: collapse;
   line-height:1.3em;
}

#dd_body table{
    font-size: 0.9em;
}

#dd_body table.delivery_details{
    background: linear-gradient(top, #f0f2ff,#c7cdde) ;
    width: 100%;
}

#dd_body table.delivery_details td
{
    padding: 3mm;
}

table#signatures{
    margin-top:5mm;
    width: 100%;
}

table#signatures td{
    padding:3mm;
}

#top_half{
    height: 134mm;
}

#divider{
    height: 20mm;
    padding-top:3mm;
    box-sizing: border-box;
    text-align: center;
}

#divider .inst{
    font-style: italic;
    font-size: .7em;
    margin-top:0;
    padding-top:0;
}

#divider h2{
    margin: 0;
    padding:0;
}
#divider h4{
    color:#CCC;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 0;
}

td.right-align{
    text-align:right;
}

td.w50{
    width: 50%;
}

td.sender-address{
    font-size:0.8em;
}

img {
    vertical-align: middle;
    border-style: none;
}

table.address_details{
    margin-top: 5mm;
    margin-bottom: 8mm;
}
