@charset "utf-8";
/*************************************************
 *	Standard Tables Settings
 *************************************************/
table{
	margin:10px auto;
	border-bottom:solid 2px #106ea4;
	font-size:12px;
}

table.pickslip{
    font-size:10px;
}

td{
	padding:5px;
	vertical-align:top;
	border-left:thin dotted #106ea4;
	border-right:thin dotted #106ea4;
    border-bottom:thin solid #106ea4;
}

table.pickslip td{
	vertical-align:middle;
}

th{
	text-align:center;
	border-bottom:solid thin #106ea4;
	border-left:thin dotted #106ea4;
	border-right:thin dotted #106ea4;
	text-align:center;
	font-size:14px;

}

td.number{
	width:80px;
	text-align:right;
}

tr.even, tbody.even {
	background-color: #eee;
}
tr.odd, tbody.odd {
	background-color: #ddd;
}


/*
table tr:nth-child(odd) {
    background-color: #ddd;
}



table tr:nth-child(even) {
    background-color: #eee;
}
*/


td.right{
	text-align:right;
}

td.middle{
	vertical-align: middle;
}

td.middle img{
	vertical-align: middle;;
}

tr.total{
	font-weight:bold;
}

tr.total td{
	border-top: 3px double #106ea4;
    vertical-align: middle;
}

div.pickslip{
	width:200mm;
    margin: 2mm auto;
}

table.pickslip td{
	vertical-align:middle;
}

table.checkbox td{
	width:15mm;
	height:15mm;
	border:2px solid #000;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    width: 120px;
    height: auto;
}