@charset "utf-8";
.clear{
    clear: both;
}

#runsheet_body {
    margin: 0;
    background: #fff;
}

div#page_top{
    background: url(/images/backgrounds/FSG-background-HD-2.jpg) center no-repeat;
    height:100px;
    margin-bottom: 10mm;
}

img {
    vertical-align: middle;
    border-style: none;
}

div.portrait, div.landscape {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

div.portrait {
    width: 190mm;
    height: 276mm;
}

div.landscape {
    width: 276mm;
    height: 190mm;
}

#page_body table,
#page_body table th,
#page_body table td{
    border: 1px solid black;
    border-collapse: collapse;
}

#page_body table{
    font-size: 0.7rem;
}

#page_body th,
#page_body td {
    padding: 15px;
}

#page_body th{
    text-transform: uppercase;
}

div#page_top table{
    border: none;
    margin-top: 10mm;
    margin-left: 15mm;
}

div#page_top table td{
    border: none;
}
