@charset "utf-8";
#runsheet_body {
    margin: 0;
    background: #CCCCCC;
}

div.portrait, div.landscape {
    margin: 10px auto;
    padding: 10mm;
    border: solid 1px black;
    overflow: hidden;
    page-break-after: always;
    background: white;
}

div.portrait {
    width: 190mm;
    height: 276mm;
}

div.landscape {
    width: 276mm;
    height: 190mm;
}

#runsheet_body table,
#runsheet_body table th,
#runsheet_body table td{
    border: thin solid black;
}
