@charset "utf-8";
#runsheet_body {
    margin: 0;
    background: #CCCCCC;
}

div#page_top{
    background-color: transparent;
    background: url(/images/backgrounds/FSG-background-HD-2.jpg) centre center no-repeat;
    height:100px;
}

img {
    vertical-align: middle;
    border-style: none;
}

div.portrait, div.landscape {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

div.portrait {
    width: 190mm;
    height: 276mm;
}

div.landscape {
    width: 276mm;
    height: 190mm;
}

#runsheet_body table,
#runsheet_body table th,
#runsheet_body table td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    font-size:0.7rem;
}

th, td {
    padding: 15px;
}

th{
    text-transform: uppercase;
}
