/*****
Startup and Standard
******/
@font-face {
  font-family: 'fontawesome';
  src: url('fonts/fontawesome-webfont.woff') format('woff'),
       url('fonts/fontawesome-webfont.ttf') format('truetype'),
       url('fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */ ;
}

body{
    background-color: #fefefe;
    font-size: 16px;
    overflow-x: hidden;
    font-family: "Roboto";
    font-style: normal;
}

#page-wrapper {
    padding: 5px 10px;
    min-height: 568px;
    background-color: #f8f8f9;
}

div#page_container{
    background-color: #fdfdfd;
    box-shadow: -5px 0 5px -5px rgba(50, 50, 50, 0.3), 5px 0 5px -5px rgba(50, 50, 50, 0.3);
    padding-bottom: 20px;
}


footer{
    position: relative;
    text-align: center;
    padding: 35px 0px;
    background: #222222;
    font-weight: 500;
    color: #bbbbbb;
    font-size: 14px;
}

a:hover{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Roboto Condensed";
    font-style: normal;
}

h2.page-header{
    font-size: 40px;
    letter-spacing: 3.5px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}

h2.page-header i{
    vertical-align: middle;
}

/********
website colours
********/
.mid-grey{
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
}

.light-grey{
    background-color: #f8f9fa;
    border: 1px solid rgba(0,0,0,.125);
}

/*****
The Section Cards
******/
a.index-link{
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    font-size: 25px
}

div.index-card{
    color:#fff;
    background-color: #4382c1;
    margin-bottom: 2%;
    height: 98% !important;
    word-wrap: normal; /*WTF would Boostrap break the word!*/
}

a.index-link:hover{
    color:#4382c1 !important;
}

a.index-link:hover div.index-card
{
    background-color:#fff;
    border-color: #4382c1;
    color: #4382c1;
}

/*****
Home page cards
******/
.homepagedeck {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.homepagecard{
    margin: 5px 1% !important;
    border: thin solid #030c57;
    opacity: 0.1;
    transform: scale(0.5);
}

.homepagecard.in-view{
    opacity: 1;
    transform: scale(1.0);
    transition:transform 800ms ease-out, opacity 1500ms;
}

.homepagecard .card-header,
.homepagecard .card-body {
    color: #052f95;
}

.homepagecard .card-header{
    background-color: rgba(3,12,87,0.08);
    border-bottom: 1px solid rgba(3,12,87,.35);
}

@media screen and (min-width: 576px) {
    .homepagecard {
        flex: 48% !important;
        max-width: 48% !important;
    }

    .homepagedeck {
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    .homepagecard {
        flex: 33% !important;
        max-width: 31% !important;
        }

}

@media screen and (min-width: 960px) {
    .homepagecard {
        flex: 25% !important;
        max-width: 23% !important;
    }
}

/*****
User Info
*****/
ul.user-info{
    list-style: none;
}

ul.user-info li a.dropdown-toggle,
ul.user-info li.white a.dropdown-toggle
{
    min-height: 50px;
    color: #f2f2f2;
}

ul.user-info li.dropdown
{
    text-align: center;
}

ul.user-info li.white a.dropdown-toggle
{
    color: #121212;
}

ul.user-info img.img-user{
    background-color: #fff;
    width: 40px;
    height: auto;
    border: 3px solid #fff;
    border-radius: 5px;
}

/*****
Navigation
*****/
.navbar-nav{
    margin-top: 5px;
    background-color: #a1a1a1;
    padding-left: 10px;
}

.navbar-nav li{

}

nav.fixed-top.scrolled {
    background-color: #fff !important;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.3);
    transition:all 600ms linear;
}

nav.fixed-top.scrolled a.nav-link:hover {
    color:#4382c1;
}

/*****
Page Header
******/
div#page_header{
    text-align: center;
    color: #fbfbfb;
    padding-top: 80px;
    background: url(/images/backgrounds/FSG-background-HD.jpg) no-repeat right;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.3);
    transition:all 600ms linear;
}

/****
Form Feedback
******/
div.errorbox{
	background: none repeat scroll 0 0 #f8dbdb;
    border: 1px solid #ff3333;
    color: #ff3333;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 18px;
}

div.feedbackbox{
	background: none repeat scroll 0 0 #ccebd6;
    border: 1px solid #009933;
    color: #009933;
    margin-bottom: 10px;
    padding: 20px;
    font-size:18px;
}

label.error{
    color: #009933;
    font-weight: normal;
    font-style: italic;
}

/*****
Error Pages
******/
div.broken_page{
    min-height:666px;
    background: url(/images/backgrounds/error-bg.jpg) center center no-repeat #fff!important;
    width: 100%;
}

/*****
Form adjustments
*****
input.form-control,
select.form-control,
.bootstrap-select > .dropdown-toggle,
.form-group .bootstrap-select.btn-group {
    max-width:450px;
}
*/
input.number,
input.digits{
    text-align: right;
}

p.inst, span.inst{
    margin-top:2px;
    margin-bottom:2px;
    color:#221111;
    font-size:12px;
    font-style:italic;
    line-height:normal;
}

.delete-image-holder,
.add-image-holder{
    max-width: 50px;
}

ul#fileList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 14px;
    font-style: italic;
}

/*
.btn-default{
    color: #fff;
    background-color: #aeaeae;
    border-color: #222;
}
*/
/*****
Standard Tables
******/
table{
    margin:10px auto;
    border-bottom:solid 2px #106ea4;
    font-size:12px;
}

td{
    padding:5px;
    vertical-align:top;
    border-left:thin dotted #106ea4;
    border-right:thin dotted #106ea4;
    border-bottom:solid 1px #106ea4;
}

table.pickslip td{
    vertical-align:middle;
}

th{
    text-align:center;
    border-bottom:solid thin #106ea4;
    border-left:thin dotted #106ea4;
    border-right:thin dotted #106ea4;
    text-align:center;
    font-size:14px;
    background-color: #fff;
    padding: 1rem;
}

td.number{
    max-width: 87px;
    text-align:right;
}

td.available{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /* vertical-align: middle; */
    background: url(/styles/images/ui_images/ui-bg_diagonals-thick_0b3e6f_18_40x40.png);
}

td.shipped_to,
td.items{
    max-width:195px;
    overflow:auto;
}

td.right{
    text-align:right;
}

td.middle{
    vertical-align: middle;
}

td.middle img{
    vertical-align: middle;
}

tr.total{
    font-weight:bold;
}

tr.total td{
    border-top: 3px double #106ea4;
    vertical-align: middle;
}

td.nowrap{
    white-space:nowrap;
}

td.chkbox{
    width: 75px;
    text-align: center;
}

tr.updated,
tr.replacement{
    background:url(/styles/images/ui_images/ui-bg_diagonals-thick_0b3e6f_18_40x40.png);
}

tr.order_error{
    background:url(/styles/images/ui_images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png);
}

tr.order_comments{
    background:url(/styles/images/ui_images/ui-bg_diagonals-thick_0b3e6f_18_40x40.png);
}

tr.pick_notice,
tr.notice{
    background:url(/styles/images/ui_images/ui-bg_highlight-soft_100_deedf7_1x100.png) 50% 50% repeat-x;
}

tr.order_comments td,
tr.pick_notice td{
   color: black;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: larger;
}

tr.express{
    background:url(/styles/images/ui_images/ui-bg_gloss-wave_35_f6a828_500x100.png);
}

/*****
Responsive Tables
******/
 @media
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1023px) {
    table:not(.ui-datepicker-calendar),
    table:not(.ui-datepicker-calendar) thead,
    table:not(.ui-datepicker-calendar) tbody,
    table:not(.ui-datepicker-calendar) th,
    table:not(.ui-datepicker-calendar) td,
    table:not(.ui-datepicker-calendar) tr {
        display: block;
    }

    table:not(.ui-datepicker-calendar) thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table:not(.ui-datepicker-calendar) tr + tr:not(.full_width) {
        margin-top: 1.5rem;
    }

    table:not(.ui-datepicker-calendar) tr:not(.full_width) td {
        /* Behave  like a "row" */
        border: none;
        padding-right: 0;
        border-bottom:dotted 1px #106ea4;
        position: relative;
        padding-left: 50%;
        width: 50% !important;
        text-align: left !important;
        min-height: 30px;
        vertical-align: middle;
    }

    table:not(.ui-datepicker-calendar) tr:not(.full_width) td:before {
        /* Now like a table header    */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
        content: attr(data-label);
        border-right:thin solid #106ea4;
        /*
        display: inline-block;
        font-weight: bold;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%;
        position: relative;
        z-index: 1;
        */
    }

    td.number{
        max-width: none;
    }

}

/********
user profile image
*******  */
img.profile-thumb{
    width:100px;
}

/********
highlighting sections
*******  */
.highlight{
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    margin: 12px;
}

.grey-back{
    background-color: #ededed;
    border-color: #dedede;
}

/********
bootsrap adjustments
*******  */
    /** Checkboxes  */
    div.custom-control-right {
        padding-right: 24px;
        padding-left: 0;
        margin-left: 16px;
        margin-right: 0;
    }
    div.custom-control-right .custom-control-label::before,
    div.custom-control-right .custom-control-label::after{
        right: -1.5rem;
        left: initial;
    }

    /** FSG button type - outline only */
    .btn-outline-fsg {
        color: #030c57;
        border-color: #030c57;
    }

    .btn-outline-fsg:hover {
        color: #fff;
        background-color: #030c57;
        border-color: #030c57;
    }

    .btn-outline-fsg:focus, .btn-outline-fsg.focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }

    .btn-outline-fsg.disabled, .btn-outline-fsg:disabled {
        color: #030c57;
        background-color: transparent;
    }

    .btn-outline-fsg:not(:disabled):not(.disabled):active, .btn-outline-fsg:not(:disabled):not(.disabled).active,
    .show > .btn-outline-fsg.dropdown-toggle {
        color: #fff;
        background-color: #030c57;
        border-color: #030c57;
    }

    .btn-outline-fsg:not(:disabled):not(.disabled):active:focus, .btn-outline-fsg:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-fsg.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }

/********
Responsive adjustments
*******  */
@media(min-width: 992px)
{
    .navbar-expand-lg .navbar-nav{
        background-color: transparent;
    }

    ul.user-info img.img-user{
        margin-top:25px;
    }
}

